.tab-pane{ class: (active ? 'active' : ''), id: id, :role => "tabpanel"}
  .wrapper
    .table-responsive
      %table.table.fixture-table.m-0
        %tbody
          - if fixtures.present?
            = render partial: 'fixtures/fixture', collection: fixtures
          - else
            %tr
              %td.text-center{ colspan: 5 }
                No Current #{id.capitalize}
