- if @videos.any?
  .container-fluid
    .well.well-sm
      %h1.title Videos
    .row
      .col-xs-12.col-sm-6
        = paginate @videos
      .col-xs-12.col-sm-6
        .page-entries.ml-auto.text-left.text-right
          = page_entries_info @videos
    .clearfix
    .card-deck-wrapper
      .card-deck
        - @videos.each do |video|
          = render 'shared/card', news: video, width: 'col-sm-6 col-md-4 col-xl-3'
- else
  No videos have been added
