- if @videos.any?
  .container
    .well.well-sm
      %h3.title Latest Videos
    .row
      .card-deck-wrapper
        .card-deck
          - @videos.each do |video|
            = render 'shared/card', news: video, width: 'col-md-4'
- else
  No videos have been added
