- if @league_tables.nil?
  Please Add a table
- else
  %ul
    - @league_tables.each do |league_table|
      %li
        = link_to "#{league_table.year} - #{league_table.name}", league_table_path(league_table)

= link_to "Add a league", new_league_table_path(), class: 'btn btn-primary'
