.card-body
  .card-text
    = team_fixture.date.strftime("%a, %d %B %Y")
    %hr
    .row
      .col-5.text-left
        = team_fixture.home.name
      .col-2.text-center
        = "-"
      .col-5.text-right
        = team_fixture.away.name
