.card-body
  .card-text
    = team_fixture.date.strftime("%a, %d %B %Y")
    %hr
    .row
      .col-12.col-lg-5.text-center.text-lg-left
        = team_fixture.home.name
      .col-12.col-lg-2.text-center
        = "-"
      .col-12.col-lg-5.text-center.text-lg-right
        = team_fixture.away.name
