.news.container
  %h3.title Latest News
  - if @news.any?
    .card-columns
      - @news.each do |news|
        .card
          %img.card-img-top.center-block.new-image{:alt => "Card image cap", "src" => "#{news.image.url(:medium)}"}/
          .card-block
            %h4.card-title
              = news.title
            %p.card-text
              = news.summary
  - else
    = "No news has been add yet"
