.news
  - if current_user&.admin?
    = link_to 'Add news', new_news_path()
  - if @news.any?
    - @news.each do |news|
      = news.title
      = news.content
  - else
    = "No news has been add yet"
