- if @news.any?
  .container
    .well.well-sm
      %h3.title All News
    .col-xs-12.col-sm-6
      = paginate @news
    .col-xs-12.col-sm-6
      .page-entries.pull-xs-left.pull-sm-right
        = page_entries_info @news
    .clearfix
    .row
      .card-deck-wrapper
        .card-deck
          - @news.each do |news|
            = render 'shared/card', news: news, width: 'col-md-4'
- else
  No News has been added yet
