- if @about
  .container
    .card
      .card-block
        %h4.card-title
          = @about.title
        %p.card-text
          = @about.content
        %p.card-text
          %small.text-muted
            = "Last updated #{time_ago_in_words(@about.updated_at)}"
