nav {
  border-radius: 0 !important;
}

body {
  background-color: #F5F5F5;
}

* {
  font-family: futura;
}

html, body {
  height: 100%;
  margin: 0;
}

.nav-tabs > li > a {
  color: $wrecclesham-green;
}

.pagination {
  .page-item.active > .page-link {
    background-color: $wrecclesham-green;
    border-color: $wrecclesham-green;
  }
  .page-item:not(.active) > .page-link {
    color: $wrecclesham-green;
  }
}

.nav-item > .dropdown-menu > .dropdown-item:active {
  background-color: #ffffff;
  color: black;
}
