nav {
  border-radius: 0 !important;
}

body {
  background-color: #000000 !important;
}

*{
  font-family: futura;
}

.table {
  background-color: white;
}

.center-panel {
  padding-top: 15px;
}

.title {
  color: white;
}

.news-title {
  margin-top: 5px;
}
.news-button {
  margin-bottom: 5px;
}

.green-hover:hover {
  background: #82b582;
}
.form-label {
  color: #E7E7E7;
}
