nav {
  border-radius: 0 !important;
}

body {
  background-color: #F5F5F5;
}

* {
  font-family: futura;
}

html, body {
  height: 100%;
  margin: 0;
}

.nav-tabs > li > a {
  color: $wrecclesham-green;
}
