.main-menu {
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}

.dropdown-menu {
  padding: 0px;
  border-radius: 0px;
}

.open>.dropdown-menu {
  margin-top: 12px;
  border-radius: 0px;
}

.collapsing {
  display: none;
}

@media only screen and (max-width: 992px) {
  .navbar-list {
    width: 100% !important;
  }

  .dropdown-menu {
    right: 0 !important;
    left: inherit !important;
  }
}
