.editor-toolbar {
  background-color: white;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

.news-article {
  height: 420px;
}

.news-link {
  margin-top: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
