.editor-toolbar {
  background-color: white;
}

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
}

.news-article {
  height: 420px;
}

.news-link {
  margin-top: 20px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.news-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.page-entries {
  height: 80px;
  padding-top: 25px;
  color: white;
}

.summary {
}
