.topbar {
  height: 60px;
  background-color: #2B7522;
  .container ul li .nav-link {
    padding-bottom: 0px;
  }
}

.logo {
  max-width: 200px;
  margin-right: 0px !important;
  max-height: 105px;
  z-index:1;
  position:relative;
}
.join {
  padding-bottom: 2px;
  margin-left: 10px;
  border-bottom: 2px solid white;
  &:hover {
    padding-bottom: 0px;
    border-bottom: 5px solid white;
  }
}

.footer-nav .footer-list {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.footer-nav {
  text-align: center;
}

.social-media {
  border-radius: 35px;
  background-color: white;
  width: 45px;
  height: 45px;
}

.social-media:hover {
  background-color: $wrecclesham-green;

  i.fa-twitter {
    color: white;
  }

  i.fa-facebook {
    color: white;
  }
}

.social-media{
  i.fa-twitter {
    color: $wrecclesham-green;
  }

  i.fa-facebook {
    color: $wrecclesham-green;
  }
}
