.topbar {
  height: 60px;
  background-color: $wrecclesham-green;
}

.logo {
  max-width: 200px;
  max-height: 105px;
  position: relative;
  top: 30px;
  z-index: 10000;
}

.footer-nav .footer-list {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.footer-nav {
  text-align: center;
}

.social-media {
  border-radius: 35px;
  background-color: white;
  width: 45px;
  height: 45px;
}

.social-media:hover {
  background-color: $wrecclesham-green;

  i.fa-twitter {
    color: white;
  }

  i.fa-facebook {
    color: white;
  }
}

.social-media{
  i.fa-twitter {
    color: $wrecclesham-green;
  }

  i.fa-facebook {
    color: $wrecclesham-green;
  }
}
