// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-table {
  padding: .2rem !important;
  td, th {
    padding: .2rem !important;
  }
}

.welcome-tables {
  background: white;
  margin-bottom: 15px;
}
