.latest-news {
  width: 100%;
  height: 600px;
}

.main-article {
  height: 100%;
  & .homepage-title {
    position: absolute;
    bottom: 50px;
    left: 40px;
    z-index: 10;
    h2, span {
      color: white;
      display: block;
    }
  }
}

.supporting-article {
  height: 33.33%;
  & .homepage-title {
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: 10;
    span {
      color: white;
      display: block;
      font-size: 0.85rem;
    }
    h5 {
      color: white;
      display: block;
      font-size: 1rem;
    }
  }
}

.homepage-article {
  float: left;
  position: relative;
  padding: 0;
  .overlay {
    background: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.5) 80%,#000 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  a {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}


.small-table {
  padding: .2rem !important;
  td, th {
    padding: .2rem !important;
  }
}

.welcome-tables {
  background: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.welcome-link {
  color: inherit;
}
.welcome-link:hover {
  color: inherit;
}

.welcome-league-title {
  color: #493A3C !important;
}

.flash-title {
  margin-top: 10px;
}

.carousel-title {
  padding-bottom: 1px !important;
}

.welcome-image {
  max-width: 250px;
}
.carousel-item {
  height: 450px;
  margin-left: 5px;
}

.carousel-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.twitter-icon {
  height: 60px;
  width: 60px;
}

.twitter-link {
  color: black;
  margin-right: 5px;
}

.twitter-link:active {
  text-decoration: none;
}
.twitter-link:visited {
  text-decoration: none;
}
.twitter-link:hover {
  text-decoration: none;
}
