// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-table {
  padding: .2rem !important;
  td, th {
    padding: .2rem !important;
  }
}

.welcome-tables {
  background: white;
  margin-bottom: 15px;
  border-radius: 5px;
}

.welcome-link {
  color: inherit;
}
.welcome-link:hover {
  color: inherit;
}

.welcome-league-title {
  color: #493A3C !important;
}

.flash-title {
  margin-top: 10px;
}

.carousel-title {
  padding-bottom: 1px !important;
}

.welcome-image {
  max-width: 250px;
}
.carousel-item {
  height: 400px;
  margin-left: 5px;
}

.carousel:not(.slick-initialized) {
  @media only screen and (max-width: 480px) {
    .carousel-item {
      @include carousel-width(1);
      float: left;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 600px) {
    .carousel-item {
      @include carousel-width(2);
      float: left;
    }
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .carousel-item {
      @include carousel-width(3);
      float: left;
    }
  }
  @media only screen and (min-width: 1025px) {
    .carousel-item {
      @include carousel-width(4);
      float: left;
    }
  }
}


@media only screen and (max-width: 544px) {
  .nav-title {
    font-size: 16px !important;
    margin-top: 5px;
  }
  .carousel-item {
    height: 440px;
  }
}
