.footer
  %nav.navbar.navbar-dark.footer-nav.navbar-expand
    %ul.navbar-nav.mx-auto
      %li.nav-item.footer-item.mr-2
        %a.nav-link.social-media{href: "https://twitter.com/WreccleshamFC", target: "_blank"}
          %i.fa.fa-twitter.fa-2x{"aria-hidden" => "true"}
      %li.nav-item.footer-item
        %a.nav-link.social-media{href: "https://www.facebook.com/WreccleshamFC", target: "_blank"}
          %i.fa.fa-facebook.fa-2x{"aria-hidden" => "true"}
