%footer.footer
  .container
    %nav.navbar.navbar-dark.footer-nav
      %ul.nav.navbar-nav.footer-list
        %li.nav-item
          %a.nav-link.social-media{href: "https://twitter.com/WreccleshamFC", target: "_blank"}
            %i.fa.fa-twitter.fa-2x{"aria-hidden" => "true"}
        %li.nav-item
          %a.nav-link.social-media{href: "https://www.facebook.com/WreccleshamFC", target: "_blank"}
            %i.fa.fa-facebook.fa-2x{"aria-hidden" => "true"}
